section.content-header
    h1
      | Dashboard
      small Overview of images and containers' information

section.content
  .row
    .col-md-12
      .box.box-primary
        .box-header
          h3.box-title Overviews of the local machine
        .box-body.pad.table-responsive
          h1 Under construction...

