section.content-header
    h1
      | Docker Hub
      small Details of docker hub

section.content
  .row
    .col-md-12
      .box.box-primary
        .box-header
          h3.box-title Docker hub registry
        .box-body.pad.table-responsive
          h1 Under construction...

