aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.active
        a(href='#')
          i.fa.fa-dashboard
          span Dashboard
      li
        a(href='#')
          i.fa.fa-cubes
          span  Images
      li
        a(href='#')
          i.fa.fa-cube
          span Containers
      li
        a(href='#')
          i.fa.fa-cloud
          span Docker Hub
